body  {
     margin: 0;
  font-family: Arial, sans-serif;
  background-color: linear-gradient(120deg, #84fab0, #8fd3f4);
}
header {
    background-color: blue;
    color: blue;
    text-align: center;
    padding: 20px;
}

main {
   display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 70vh;
    padding: 40px;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
